params {
    outdir = "/exports/sascstudent/yezegers/results/nextflow/Run01/PMS2CL"
    referenceFasta ="/exports/sascstudent/yezegers/data/reference_genomes/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta"
    referenceFastaFai ="/exports/sascstudent/yezegers/data/reference_genomes/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta.fai"
    csv_file = "/exports/sascstudent/yezegers/src/nextflow/inputfiles/input_PMS2CL.csv"
    linked_adapter_1 ='^cacacgagcgcatgcaaacatagag...gacggtgaaaccctgagcaaga$'
    linked_adapter_2 ='^tcttgctcagggtttcaccgtc...ctctatgtttgcatgcgctcgtgtg$'
}