process {

    withName: Cutadapt_1 {
        ext.prefix = {"${meta.id}_1"}
        container='quay.io/biocontainers/cutadapt:4.6--py39hf95cd2a_1'
        ext.args ={" -a $params.linked_adapter_1 --discard-untrimmed "}
    }

     withName: Cutadapt_2 {
        ext.prefix =  {"${meta.id}_2"}
        container='quay.io/biocontainers/cutadapt:4.6--py39hf95cd2a_1'
        ext.args ={" -a $params.linked_adapter_2 --discard-untrimmed "}
    }

    withName: Cutadapt {
        publishDir = { "${params.outdir}/${meta.id}/1:Trimmed_reads/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: FASTQC {
        publishDir = { "${params.outdir}/${meta.id}/2:QC/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: MULTIQC {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    }

    withName: MINIMAP2_ALIGN {
        publishDir = { "${params.outdir}/${meta.id}/3:Alignment/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.args = "-ax map-hifi --secondary=no"
        memory = '20G'
    }

    withName: SAMTOOLS_INDEX  {
        publishDir = { "${params.outdir}/${meta.id}/3:Alignment/minimap2" }
    }

    withName: DEEPVARIANT {
        publishDir = { "${params.outdir}/${meta.id}/4:Variantcalling/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        container = 'quay.io/nf-core/deepvariant:1.5.0'
        ext.args='--model_type=PACBIO'
        cpus = 8
    }

    withName: Gunzip_deepvariant {
        publishDir = { "${params.outdir}/${meta.id}/4:Variantcalling/deepvariant" }
    }

    withName: WHATSHAP {
        publishDir = { "${params.outdir}/${meta.id}/5:Phasing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        container = 'quay.io/biocontainers/whatshap:2.1--py38h2494328_0'
    }

}
includeConfig "parameters.config"